{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="flex-columns">
  <div class="left-column">
    <h2>Catalog</h1>
    <ul>
      {% for cat in categories %}
        <li>{{cat.name}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="right-column">
    <h2>Latest Items</h2>
    <ul>
      {% for item in recentItems %}
        <li>{{item.name}} - {{item.cat_id}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
{% endblock %}