{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
<div class="grid">
  <div class="left-column">
    <h2>Catalog</h1>
    <ul>
      <li>Soccer</li>
      <li>Basketball</li>
      <li>Baseball</li>
      <li>Frisbee</li>
      <li>Snowboarding</li>
    </ul>
  </div>
  <div class="right-column">
    <h2>Latest Items</h2>
    <ul>
      <li>Stick</li>
      <li>Goggles</li>
      <li>Snowboard</li>
      <li>Two shinguards</li>
      <li>Frisbee</li>
      <li>Bat</li>
    </ul>
  </div>
</div>
</div>
{% endblock %}