{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
<div class="flex-columns">
  <div class="left-column">
    <h2>Catalog</h1>
    <ul>
      {% for cat in categories %}
        <li>{{cat.name}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="right-column">
    <h2>Latest Items</h2>
    <ul>
      <li>Stick</li>
      <li>Goggles</li>
      <li>Snowboard</li>
      <li>Two shinguards</li>
      <li>Frisbee</li>
      <li>Bat</li>
    </ul>
  </div>
</div>
</div>
{% endblock %}