<!doctype html>
<html>
  <head>
    <meta name="description" content="A Catalog App for sports">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} - Catalog App</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="container pad-5-0 flex-between">
          <a class="logo" href="{{url_for('index')}}"> Catalog App</a>
          {% if 'username' is not in session %}
            <a class="right" href="{{url_for('showLogin')}}">Log In</a>
          {% else %}
            <a class="right" href="{{url_for('disconnect')}}">Log Out</a>
          {% endif %}
        </div>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>