/* Set up CSS Variables */

:root {
  --padding-size: 15px;
  --foreground: #fff;
  --background: #f2f2f2;
}

/* Reset CSS */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var(--padding-size, 15px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  background-color: var(--foreground);
}

nav > div {
  padding: var(--padding-size, 15px);
}

main {
  padding: var(--padding-size, 15px) 0;
}

.logo {
  font-weight: 900;
}

.container {
  /* width: 100%; */
  margin: 0 auto;
}

.content {
  padding: var(--padding-size, 15px);
  background: var(--foreground, #fff);
}

.flex-columns {
  margin-top: var(--padding-size, 15px);
  margin-bottom: var(--padding-size, 15px);
  display: flex;
}

.left-column, .right-column {
  background: var(--foreground);
  padding: var(--padding-size, 15px);
}

.left-column {
  flex-grow: 1;
  margin-right: var(--padding-size);
}

.right-column {
  flex-grow: 2;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  float: right;
}

button {
  background: #f2f2f2;
  border: 0;
  padding: 10px var(--padding-size, 15px);
  cursor: pointer;
  transition: 100ms all linear;
}

button:hover {
  background: #f4f4f4;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

button:active {
  background: #f0f0f0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}