{% extends "_layout.html" %}
{% block content %}
  <div class="container">
<h1>New Menu Item</h1>

<form action="{{ url_for('newMenuItem', restaurant_id=restaurant.id)}}" method="POST">
  <label for="name">Name:</label>
  <br>
  <input type="text" size="30" name="name">
  <br>
  <label for="description">Description:</label>
  <br>
  <textarea name="description" cols="30" rows="10"></textarea>
  <br>
  <label for="price">Price:</label>
  <br>
  <input type="text" name="price">
  <br>
  <label for="course">Course:</label>
  <br>
    <input type="radio" value="Entree" name="course" id="entree"><label for="entree">Entree</label>
    <br>
    <input type="radio" value="Appetizer" name="course" id="appetizer"><label for="appetizer">Appetizer</label>
    <br>
    <input type="radio" value="Dessert" name="course" id="dessert"><label for="dessert">Dessert</label>
    <br>
    <button type="submit" class="button">Create</button>
</form>

<a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Cancel</a>

</body>
</html>
{% endblock %}